*{
    margin:0;
    padding: 0;
    list-style: none;
}
h1{
    background-color:#3E72A8;
    color: #fff;
    text-align: center;
    font-size: 45px;
    padding: 10px;
    font-weight: bold;
}
h2{
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    font-family: 微軟正黑體;
}
li{
    font-family: 微軟正黑體;
    line-height: 2em;
}
.header{
    background-color:#333333;
    text-align: center;
    font-size:0 ;
    width: 100%;
}
.header span{
    color: #fff;
    text-decoration: none;
    line-height: 32px;
    padding: 6px 20px;
    font-size: 16px;
    transition: 0.5s;
    display: inline-block;
    font-family: 微軟正黑體;
}
.header span:hover{
    background-color: #595959;   
}
.anno{
    color:gray;
    font-size: 10px;
    font-style: italic;
    position: relative;
    bottom: -3px;
}
table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #E0E0E0;
    vertical-align: middle;
    border-collapse: collapse;
}
th{
    border: 1px solid #fff;
    padding: 2px;
    font-size: 12px;
    font-family: 微軟正黑體;
    text-align: center;
    vertical-align: middle;
    background-color: #468C89;
    color: #fff;
}
td{
    border: 1px solid #E0E0E0;
    padding: 2px;
    font-size: 12px;
    font-family: 微軟正黑體;
    vertical-align: middle;
    text-align: right;
}
.moneyball{
    color:yellow;
    font-weight: bold;
}
.up{
    color:red;
    font-weight: bold;
    text-align: right;
}
.down{
    color:green;
    font-weight: bold;
    text-align: right;
}
@media screen and (max-width: 500px){
    h1{
        font-size: 26px;
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .header span{
        display: inline-block;
        font-size: 12px;
        padding: 3px 8px;
        width: 25%;
    }
    li{
        font-size: 12px;
    }
    table{
        width: 50%;
    }
    td{
        font-size: 8px;
        padding: 1px;
    }
}