*{
    margin:0;
}
h1{
    background-color: #fa0;
    text-align: center;
    font-family: 微軟正黑體;
}
h2{
    padding: 10px;
    font-family: 微軟正黑體;
}
li{
    padding: 5px;
}
div.header{
    background-color:#000;
    text-align: center;
    font-size:0 ;
}
div.header span{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    transition: 0.5s;
    font-family: 微軟正黑體;
}
div.header span:hover{
    background-color: #fa0;   
}
span.anno{
    color:gray;
    font-size: 10px;
    font-style: italic;
    position: relative;
    bottom: -3px;
}
table{
    width: 600px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    align-content: center;
    text-align: center;
    border-collapse: collapse;
    font-family: 微軟正黑體;
    font-size: 12px;
}
td{
    border: 1px solid black;
    padding: 2px;
}
.moneyball{
    color:red;
    font-weight: bold;
}